#background-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 102%;
    height: 104%;
    background-size: cover;
    background-position: center;
    z-index: -1;
    filter: blur(10px);
    margin: -20px;
}

#background-overlay::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
}